<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>McGill Outdoors Club</title>
	<link rel="stylesheet" href="http://localhost:5000/static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:5000/static/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
</head>
<nav>
	<div class="row menu-bar text-center">
		<div class="col-md-4">
			
		</div>

		<div class="col-md-4">
			<h1>McGill Outdoors Club</h1>
		</div>

		<div class="col-md-4">
			<a class="btn button" href="{{url_for('menu')}}" role="button">Home</a>
			<a class="btn button" href="{{url_for('showLogin')}}" role="button">Logout</a>
	
			
		</div>
	</div>
</nav>
<body class="sec-menu menu text-center container">
	
		<div class="row text-center">
		
			<div class="col-md-12">
				<h2>{{item.name}}</h2>
				</br>
				<img src="{{item.picture}}" width='304px' class="img-responsive center-block img1">
				<p class="description">{{item.description}}</p>
				<a href = '{{url_for("editItem",sport_id=item.sport_id, item_id=item.id)}}' style='padding-right: 10px;'> Edit </a>
				<a href = '{{url_for("deleteItem",sport_id=item.sport_id, item_id=item.id)}}'> Delete </a>
			
			</div>
			
		</div>
		
</body>
</html>
